.list-group-item:hover {
    background-color: #3482ca;
    color: white;
}

.badge {
    margin-left: 5px;
    margin-top: 3px;
}

.navbut {
    margin-right: 10px;
    margin-top: 10px;
}

.helpteksts {
    margin-bottom: 30px;
}