<p>restaurant works!</p>

<div>
    <div>
        <label>name:
            <input [(ngModel)]="name" placeholder="name" />
        </label>
    </div>

    <div>
        <label>description:
            <input [(ngModel)]="description" placeholder="description" />
        </label>
    </div>
    <div>
        <label>add categorie:
            <input [(ngModel)]="categorieName" placeholder="categorie" />
            <button (click)="addCategorie()">add</button>
        </label>

        <ul>
            <li *ngFor="let categorie of categories">{{ categorie.name }}</li>
        </ul>
    </div>
</div>