<p>restaurant works!</p>

<div>
    <div>
        <label>name:
            <input [(ngModel)]="name" placeholder="name" />
        </label>
    </div>

    <div>
        <label>description:
            <input [(ngModel)]="description" placeholder="description" />
        </label>
    </div>
    <div>       
        <p>
            select existing categorie(s) from
        </p>
        <ul>
            <ul *ngFor="let categorie of categories" (click)="onSelect(categorie)" >{{ categorie.name }} </ul>
        </ul>

        <label>add new categorie:
            <input [(ngModel)]="categorieName" placeholder="categorie" />
            <button (click)="addCategorie()">add</button>
        </label>
    </div>
</div>