<div>
    <h2>Helptekst</h2>

    <form>
        <div class="form-group">
            <label for="helpid">helpid</label>
            <input class="form-control" type="text" id="helpid" aria-describedby="helpidHelp"
                placeholder="Enter unique helpid" name="helpid" (keypress)="clearError()" [(ngModel)]="helptekst.helpid"
                class="form-control-lg">
            <small id="helpidHelp" class="form-text text-muted">Make sure the helpid is unique</small>
        </div>

        <div class="form-group">
            <label for="helptekst">helptekst</label>
            <input class="form-control" type="text" id="helptekst" aria-describedby="helptextHelp"
                placeholder="Enter the helptekst" name="helptekst" (keypress)="clearError()"
                [(ngModel)]="helptekst.helptekst" class="form-control-lg">
            <small id="helptextHelp" class="form-text text-muted">The helptext</small>
        </div>

        <button *ngIf="addButton == true" type="submit" class="btn btn-primary" (click)="addHelptekst()">Add</button>
        <button *ngIf="addButton == false" type="submit" class="btn btn-primary"
            (click)="updateHelptekst()">Update</button>
        <button *ngIf="addButton == false" type="submit" class="btn btn-primary"
            (click)="deleteHelptekst()">Delete</button>
    </form>
    <div>{{error}}</div>
</div>